body {
    --navy: #13294B;
    --header: black;
    // #1f2937;
    --format-color: #6699c2;

    --body-font: "Libre Franklin", sans-serif;
    --body-color: #484848;
    // #1f2937;


    --home-title-font: "Source Serif 4", serif;
    // --home-description-font: "Libre Franklin";
    // "Source Serif 4", serif;

    // --article-title-font:
}