body {
    --navy: #13294B;
    --header: black;
    // #1f2937;
    --format-color: #6699c2;
    // color-mix(in oklab, #4B9CD3 90%, white 0%);
    // #6699c2;

    --body-font: "Inter", sans-serif;
    --body-color: #484848;
    // #1f2937;

    --article-title-font: "Source Serif 4", serif;

    --home-title-font: "Source Serif 4", serif;

    --542: #4B9CD3;
    // --home-description-font: "Libre Franklin";
    // "Source Serif 4", serif;

    // --article-title-font:
}