/* Main style for the header */
.header-container {
  overflow: hidden;
  border-bottom: 2px solid #56A0D3;
  position: absolute; /* Use absolute positioning to anchor it at the top */
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  text-align: center;
  padding: 3px 0;
}

.header-container-container {
  margin: auto;
  max-width: 1200px;
  padding-left: 1px;
  padding-right: 1px;
}

/* Style for the Carolina Razor text */
.header-container .logo {
  width: 300px;
  text-decoration: none;
  margin-right: 20%; /* Margin to the right of the logo */
  display: inline-block;
  vertical-align: middle;
  padding: 5px 0;
}

/* Header link style */
.header-container a {
  display: inline-flex;
  align-items: center;
  color: #000000;
  padding: 5px 25px; /* Space between entries */
  text-decoration: none;
  margin-right: 10px;
  justify-content: center;
  width: auto;
}

/* Header style for nav menu entries */
.entry {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: 'Onest', sans-serif;
}

/* Set to UNC blue on hover */
.entry:hover {
  color: #56A0D3;
}

/* Hide the mobile menu icon */
.header-container .icon {
  display: none;
}

/* Hide the ZWSP on desktop */
.navzwsp {
  display: none;
}

/* Style for the submenu, hide it */
.header-container .submenu {
  display: none;
  position: relative;
  background-color: #ffffff;
  z-index: 999;
  width: 100%;
}

.header-container .submenu a {
  display: block;
  padding: 10px;
  text-align: left;
}

/* Responsive styling for mobile view */
@media screen and (max-width: 1200px) {
  .header-container {
    text-align: center;
    padding: 0;
    height: auto;
    overflow-y: auto; /* Allows scrolling within the fixed area on mobile */
  }

  .header-container .logo {
    display: inline-block;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(7px); /* Center and move down a little bit */
    padding: 0;
    width: 250px;
    white-space: nowrap;
  }

  /* Hide links on mobile */
  .header-container a {
    display: none;
  }

  /* Show menu icon on mobile */
  .header-container a.icon {
    display: block;
    padding: 12px 14px;
    position: absolute;
    left: 0;
    top: 0;
  }

  /* Show submenu when button is clicked */
  .header-container.responsive .submenu {
    display: block;
  }

  /* Display all links */
  .header-container.responsive a {
    display: block;
    text-align: left;
  }

  .navzwsp {
    display: block;
  }

  .header-container.responsive {
    top: 0;
  }

  /* Font settings for entries */
  .entry {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
  }

  .entry:hover {
    color: #56A0D3;  /* UNC blue color */
  }
}

/* Style for active entry */
.entry.active {
  color: #56A0D3;
}

/* Site content offset to account for header */
.site-content {
  padding-top: 70px; /* Adjust based on header height */
}
