services:
  payload:
    build:
      context: .
      args:
        DATABASE_URI: ${DATABASE_URI}
        PAYLOAD_SECRET: ${PAYLOAD_SECRET}
        NEXT_PUBLIC_SERVER_URL: ${SERVICE_URL_PAYLOAD}
        CRON_SECRET: ${CRON_SECRET}
        PREVIEW_SECRET: ${PREVIEW_SECRET}
    volumes:
      - node_modules:/app/node_modules
      - public:/app/public/media
      - avatars:/app/public/avatars
    env_file:
      - .env
    environment:
      NEXT_PUBLIC_SERVER_URL: ${SERVICE_URL_PAYLOAD}

volumes:
  node_modules:
  public:
  avatars:
