{% macro article(story, size="medium", featured) %}
<article class="article article--{{ size }}">
    <a href="{{ story.permalink }}">
        {% if story.extra.image %}
        <figure class="article-img">
            <img src="{{ story.extra.image }}" />
        </figure>
        {% endif %}
        {% if featured %}
            {% set url_parts = story.permalink | split(pat="/") %}
            {% set section_name = url_parts | slice(start=url_parts | length - 3, end=url_parts | length - 2) %}
            <div class="article-format text-[#0a5e66]">
                <p>{{ section_name[0] }}</p>
            </div>
        {% endif %}
        <h2 class="article-title article-title--{{ size }}">
            {{ story.title }}
        </h2>
        <div class="article-excerpt">
            <p>{{ story.description | safe }}</p>
        </div>
    </a>
</article>
{% endmacro %}