{% macro article(story, size="medium") %}
<article class="article article--{{ size }}">
    <a href="{{ story.permalink }}">
        <!--        {# {{ story.link | default(value="") }} #}-->
        {% if story.extra.image %}
        <figure class="article-img">
            <img src="{{ story.extra.image }}" />
        </figure>
        {% endif %}
        <div class="article-format text-[#0a5e66]">
            <p>Placeholder</p>
        </div>
        <h2 class="article-title article-title--{{ size }}">
            {{ story.title }}
        </h2>
        <div class="article-excerpt">
            <p>{{ story.extra.description | safe }}</p>
        </div>
    </a>
</article>
{% endmacro %}