{% extends "base.html" %}

{% block title %}{{ page.title }} - The Carolina Razor{% endblock title %}

{% block meta_content %}
{% if not page.title %}
    <meta property="og:image" content="/{{ page.extra.image }}">
    <meta name="twitter:image" content="/{{ page.extra.image }}">
{% endif %}
    <meta name="twitter:title" content="The Carolina Razor">
    <meta property="og:title" content="The Carolina Razor" />

    <meta name="description" content="{{ page.title | safe }}" />
    <meta name="twitter:description" content="{{ page.title | safe }}">
    <meta property="og:description" content="{{ page.title | safe }}" />
{% endblock meta_content %}

{% block content %}
<div class="article-main">
    <article class="article-content">
        <h1 class="article-title">{{ page.title }}</h1>
        {% if page.extra.subtitle %}<h2 class="article-subtitle">{{ page.extra.subtitle }}</h2>{% endif %}
        <div class="article-meta">
            <span class="article-authors">By {{ page.authors | join(sep=", ") }}</span>
            <span class="article-date">{{ page.date | date(format="%B %d, %Y") }}</span>
        </div>

        {% if page.extra.image %}
        <div class="article-image-container">
            <img src="/{{ page.extra.image }}" alt="{{ page.extra.image_alt | default(value=" Article featured image")
                }}" class="article-image" />
        </div>
        {% endif %}

        <div class="article-body">
            {{ page.content | safe }}
        </div>
    </article>
</div>
{% endblock content %}