{% import "macros/article.html" as macros_article -%}
<!DOCTYPE html>
<html lang="{{ config.extra.language_code | default(value="en-US") }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}The Carolina Razor{% endblock title %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=News+Cycle:wght@400;700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Onest:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Space+Grotesk:wght@300..700&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/base.css">
    <link rel="stylesheet" href="/article.css">
    <link rel="stylesheet" href="/section.css">
    <link rel="stylesheet" href="/colors.css">
    <link rel="stylesheet" href="/magazine.css">
    <link rel="stylesheet" href="/navbar.css">

    <meta name="twitter:card" content="summary">
<!--    <meta name="twitter:site" content="@username">--> <!-- Ex: @NPR -->
<!--    <meta name="twitter:creator" content="@username">--> <!-- Ex: @ArticleAuthor -->
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{config.base_url | safe}}/{{current_path | safe}}" />
    <meta property="og:site_name" content="The Carolina Razor" />

    {% block meta_content %}
    <meta property="og:image" content="/unc-images/bell-tower.webp">
    <meta name="twitter:image" content="/unc-images/bell-tower.webp">

    <meta name="twitter:title" content="The Carolina Razor">
    <meta property="og:title" content="The Carolina Razor" />

    <meta name="description" content="The student-led paper." />
    <meta name="twitter:description" content="The student-led paper.">
    <meta property="og:description" content="The student-led paper." />
    {% endblock meta_content %}

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body class="layout">
<!--div for wrapping the header, content, and footer-->
<div style="min-height:100vh; display: flex; flex-direction:column; justify-content:space-between;">
<!--wraps everything except for the footer-->
    <div>
        <header>
            <div class="header-container" id="topnavbar">
                <div class="header-content">
                    <a href="javascript:void(0);" class="icon" onclick="navToggle()">
                        <i class="fa fa-bars"></i>
                    </a>
                    <a href="/" class="logo"><img src="/logos/transparent.svg" width="180px" height="28px"/></a>
                    <div class="spacer"></div>
                    <a class="entry" href="/news">NEWS</a>
                    <a class="entry" href="/opinion">OPINION</a>
                    <a class="entry" href="/longform">LONGFORM</a>
                    <a class="entry" href="/donate">DONATE</a>
                    <a class="entry" href="/about">ABOUT</a>
                </div>
            </div>
        </header>

        <main class="site-content">
            {% block content %}{% endblock content %}
        </main>
    </div>

    <footer class="site-footer">
        <div class="footer-container">
            <div class="footer-content">
                <p>The Carolina Razor is a student-run news magazine at UNC Chapel Hill.</p>
                <p>Read <a href="/about" class="footer-link">our manifesto</a>.</p>
            </div>
        </div>
    </footer>
</div>
<script src="/navbar.js"></script>
<script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                    document.location.href = "/admin/";
                });
            }
        });
    }
</script>
</body>
</html>
