
{% extends "base.html" %}


{% block content %}
{% set stories = load_data(path="data/stories.json") %}
<div class="container">
        <div class="magazine-layout">
            <div class="magazine-column">
                {% for story in stories | slice(start=0, end=2) %}
                    {{ macros_article::article(story=story) }}
                {% endfor %}
            </div>
            <div class="magazine-column">
                {% for story in stories | slice(start=2, end=3) %}
                    {{ macros_article::article(story=story) }}
                {% endfor %}
            </div>
            <div class="magazine-column">
                {% for story in stories | slice(start=3, end=5) %}
                    {{ macros_article::article(story=story, size="small") }}
                {% endfor %}
            </div>
            <div class="magazine-column">
                {% for story in stories | slice(start=5, end=7) %}
                    {{ macros_article::article(story=story, size="small") }}
                {% endfor %}
            </div>
        </div>
        <section class="call-to-action">
            <h2>Join our team</h2>
            <p>If you love telling stories through writing, photography, or filmmaking, we would love to hear from you!</p>
            <a href="mailto:editors@carolinarazor.com" class="btn">Email us</a>
        </section>
</div>
{% endblock content %}

<script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                    document.location.href = "/admin/";
                });
            }
        });
    }
</script>