{% extends "base.html" %}

{% block content %}
<div class="section_content section-page">
    <h1 class="title">{{ section.title }}</h1>
    <div class="articles-div">
        <ul id="article-list">
            {% for page in section.pages %}
            <li class="article-item">
                <a class="story-link" href="{{ page.permalink | safe }}">
                    {% if page.extra.image %}
                    <img class="story-image" src="{{ page.extra.image }}">
                    {% endif %}
                    <div class="story-content">
                        <div class="story-header">
                            <span class="story-title">{{ page.title }}</span>
                        </div>
                        <div class="story-meta">
                            <span class="story-authors">By {{ page.authors | join(sep=", ") }}</span>
                            <span class="story-date">{{ page.date | date(format="%B %d, %Y") }}</span>
                        </div>
                        <span class="story-description">{{ page.description }}</span>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}
