{% extends "base.html" %}

{% block content %}
{% set authors = get_section(path="authors/_index.md") %}
{% set_global author_map = [] %}
{% for author in authors.pages %}
{% set author_ind = [author.extra.id, author.title, author.permalink] %}
{% set_global author_map = author_map | concat(with=[author_ind]) %}
{% endfor %}
<div class="section_content section-page">
    <h1 class="title">{{ section.title }}</h1>
    <div class="articles-div">
        <ul id="article-list">
            {% for page in paginator.pages %}
            <li class="article-item">
                <a class="story-link" href="{{ page.permalink | safe }}">
                    {% if page.extra.image %}
                    <img class="story-image" src="{{ page.extra.image }}">
                    {% endif %}
                    <div class="story-content">
                        <div class="story-header">
                            <span class="story-title">{{ page.title }}</span>
                        </div>
                        <div class="story-meta">
                            {% set_global author_names = [] %}
                            {% for author_id in page.authors %}
                                {% set author_page = author_map[author_id] %}
                                {% set author_name = author_page[1] %}
                                {% set_global author_names = author_names | concat(with=[author_name]) %}
                            {% endfor %}
                            <span class="story-authors">By {{ author_names | join(sep=", ") }}</span>
                            <span class="story-date">{{ page.date | date(format="%B %d, %Y") }}</span>
                        </div>
                        <span class="story-description">{{ page.description }}</span>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="pagination-wrapper">
        <nav class="pagination">
            {% if paginator.previous %}
            <a class="previous" href="{{ paginator.previous }}">‹ Previous</a>
            {% endif %}
            {% if paginator.previous and paginator.next %}
            <b>|</b>
            {% endif %}
            {% if paginator.next %}
            <a class="next" href="{{ paginator.next }}">
                Next ›
                {% if paginator.previous %}
                <span class="space"></span> <!-- Increased space after 'Next' -->
                {% endif %}
            </a>
            {% endif %}
        </nav>
    </div>

</div>
{% endblock content %}
